@charset "utf-8";

/* l-sitemap */
/* ============================================ */
.l-sitemap{
    background: #fff;
    position: relative;
    z-index: 20;
    &__list{
        display: flex;
        @include media_sp {
            flex-wrap: wrap;
        }
    }
    &__item{
        border-top: 1px solid #F1F1F1;
        flex: 1;
        &:not(:last-of-type){
            border-right: 1px solid #F1F1F1;
        }
        @include media_sp {
            flex: auto;
            width: 50%;
        }
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: vw(13);
            padding: vw(60) vw(10) vw(56);
            width: 100%;
            position: relative;
            @include media_sp {
                font-size: spvw(12);
                padding: vw(60) vw(40) vw(56) vw(5);
            }
            span{
                font-size: vw(18);
                margin-bottom: vw(2);
                @include media_sp {
                    font-size: spvw(15);
                }
            }
            &:hover{
                background: #fafafa;
                .l-sitemap__item-icon{
                    background: #aaa;
                    transition: .4s;
                    &::before{
                        transition: .4s;
                        transform: translate(70%,-70%);
                    }
                    &::after{
                        transition: .4s;
                        transform: translate(0%,0%);
                    }
                }
            }
        }
        &-icon{
            position: absolute;
            right: vw(10);
            bottom: vw(10);
            border-radius: 50%;
            border: vw(1) solid #aaa;
            height: vw(22);
            width: vw(22);
            transition: .4s;
            overflow: hidden;
            @include media_sp {
                right: spvw(10);
                bottom: 50%;
                height: spvw(22);
                width: spvw(22);
                transform: translate(0,50%);
            }
            &::before,
            &::after{
                content: '';
                background: url(../img/icon_sitemap_arrow.svg) no-repeat center;
                background-size: 100% auto;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                transition: .4s;
            }
            &::after{
                background: url(../img/icon_sitemap_arrow_w.svg) no-repeat center;
                background-size: 100% auto;
                transform: translate(-100%,100%);
            }
        }
    }
} //l-sitemap